.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    justify-content: space-between;
}

.font-bold {
    font-weight: bold;
}

.pb {
    padding-bottom: 1rem;
}